<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.caogen.spiderWeb.dao.SpiderDao">

    <insert id="InsertUserByJiaYuan">
        INSERT INTO UserByJiaYuan (
            realUid,
            nickname,
            sex,
            age,
            marriage,
            height,
            education,
            localhost,
            image,
            randTag,
            randListTag,
            shortnote,
            matchCondition,
            helloUrl
        ) VALUES
        <foreach item="item" index="index" collection="list" separator=",">
            (
            #{item.realUid},
            #{item.nickName},
            #{item.sex},
            #{item.age},
            #{item.marriage},
            #{item.height},
            #{item.education},
            #{item.localhost},
            #{item.image},
            #{item.randTag},
            #{item.randListTag},
            #{item.shortnote},
            #{item.matchCondition},
            #{item.helloUrl}
            )
        </foreach>

    </insert>

    <select id="selectUserByJiaYuanCount" resultType="java.lang.Long">
        SELECT COUNT(1) FROM UserByJiaYuan
    </select>

    <!-- 大数据查询方式 -->
    <select id="selectUserByJiaYuan" resultType="UserByJiaYuan">
        SELECT * FROM UserByJiaYuan a
        JOIN (SELECT user_id AS id FROM UserByJiaYuan limit #{offset}, #{pageSize}) b
        ON a.user_id = b.id
    </select>

</mapper>